<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Исправить документъ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/homepage">Inspire-Write-Publish</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.username %><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/users/profile/<%= user.username %>">Мой профиль</a></li>
                      <li><a href="/createfic">Добавить фанфик</a></li>
                      <li><a href="/myfics">Мой архивъ</a></li>
                      <li><a href="/profile/settings">Настройки профиля</a></li>
                    </ul>
                </li>

                <li><a href="#">Правила</a></li>
                <li><a href="#">О нас</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <form action="/search" method="post" class="navbar-search pull-left">
                  <input type="text" name="search" class="form-control" placeholder="Найти...">
                </form>
              </li>
                <li>
                    <a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span>Выйти</a>
                </li>
            </ul>
        </div>
    </nav>

<div class="container">
  <form action='/addpart' method="post">
    <div class="form-group">
       <label>Какое произвѣдение будетъ исправлено: </label> <i><%= story.title %></i>
        <input type="hidden" name="name" value="<%= story.title %>">
       <br/>
      <label for="comment">Что Вашей душеньке угодно сочинить:</label>
      <textarea class="form-control" rows="6" lines="12" name="text" wrap='hard' cols="10"></textarea>
    </div>


    <label>Текущий статусъ работы:</label>
    <div class="radio">
        <label><input type="radio" name="status" value="В процессе" checked>Въ процессе</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="status" value="Завершен">Оконченъ</label>
    </div>

      <button type='submit' class='btn btn-primary'>Выставить на всеобщее обозрѣние</button>
  </form>
</div>



  </body>
</html>
