<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Исправить документъ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <% layout('layout') -%>

<div class="container">
  <form action='/addpart' method="post">
  <div class="row">
    <div class="form-group">
      <input type="hidden" name="_csrf" value="<%=csrfToken %>">
       <label>Какое произвѣдение будетъ исправлено: </label> <i><%= story.title %></i>
        <input type="hidden" name="name"  value="<%= story.title %>">
       <br/>
      <label for="comment">Что Вашей душеньке угодно сочинить:</label>
      <p>
        <textarea class="form-control" rows="20" lines="12" name="text" wrap='hard' style="width:1000px"><%=story.text %></textarea>
      </p>

    </div>


    <label>Текущий статусъ работы:</label>
    <div class="radio">
        <label><input type="radio" name="status" value="В процессе" checked>Въ процессе</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="status" value="Завершен">Оконченъ</label>
    </div>

      <button type='submit' class='btn btn-primary'>Выставить на всеобщее обозрѣние</button>
        </div>
  </form>
</div>



  </body>
</html>
