<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Подробный поискъ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/ajax.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <% layout('layout') -%>
    <div class="container">

    <h2>Найти произведѣніе по такимъ предпочтѣніямъ: </h2>
    <div class='row'>
        <div class='col-md-8'>

                    <!-- <label>Фэндом:</label>
                    <input type='text' name='fandom' class='form-control' maxlength="100" required="required"/> -->


                    <label>Размер:</label>
                    <div class="radio">
                        <label><input type="radio" class="size" name="size" value="Мини" checked>Мини</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" class="size" id = "md"name="size" value="Миди">Миди</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" class="size" name="size" value="Макси">Макси</label>
                    </div>


                    <label>Рейтинг:</label>
                    <div class="radio">
                        <label><input type="radio" class="rating" name="rating" value="G" checked>G</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" class="rating" name="rating" value="PG-13">PG-13</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" class="rating" name="rating" value="R">R</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" class="rating" name="rating" value="NC-17">NC-17</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" class="rating" name="rating" value="NC-21">NC-21</label>
                    </div>
                <!-- </form>
                <form id="form-create"> -->
                    <label>Жанры:</label>
                    <div class="checkbox">
                        <label><input type="checkbox" class="genre" name="genre" value="Гет">Гет</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="genre" name="genre" value="Джен">Джен</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="genre" name="genre" value="Hurt/comfort">Hurt/comfort</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="genre" name="genre" value="POV">POV</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"class="genre"  name="genre" value="Ангст">Ангст</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="genre" name="genre" value="Антиутопия">Антиутопия</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"class="genre"  name="genre" value="Детектив">Детектив</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"class="genre"  name="genre" value="Драма">Драма</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="genre" name="genre" value="Занавесочная история">Занавесочная история</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="genre" name="genre" value="Исторические эпохи">Исторические эпохи</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="genre" name="genre" value="Любовь/Ненависть">Любовь/Ненависть</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"class="genre"  name="genre" value="Мистика">Мистика</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="genre" name="genre" value="Мифические существа">Мифические существа</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"class="genre"  name="genre"  value="Нестандартная поэзия">Нестандартная поэзия</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="genre" name="genre"  value="Повседневность">Повседневность</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="genre" name="genre" value="Пропущенная сцена">Пропущенная сцена</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="genre" name="genre" value="Психология">Психология</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="genre" name="genre" value="Романтика">Романтика</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="genre" name="genre" value="Стёб">Стёб</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"class="genre" name="genre"  value="Стихи">Стихи</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="genre" name="genre" value="Ужасы">Ужасы</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="genre" name="genre" value="Учебные заведения">Учебные заведения</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"class="genre"  name="genre" value="Фантастика">Фантастика</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="genre" name="genre" value="Философия">Философия</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"class="genre"  name="genre" value="Флафф">Флафф</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"class="genre"  name="genre" value="Фэнтези">Фэнтези</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"class="genre"  name="genre" value="Эксперимент">Эксперимент</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="genre" name="genre" value="Экшн (action)">Экшн (action)</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="genre" name="genre" value="Юмор">Юмор</label>
                    </div>

                  <button type='submit' id="btn" class='btn btn-primary'>Потрѣбовать список произведѣній</button>

                </div>
              </div>
              <ul>
                <div class="story">
                  <li id="results">

                  </li>
                </div>
              </ul>


        </div>
  </body>
</html>
