<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Мой архивъ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <% layout('layout') -%>
    <div class="container">
      <h2>Мой архивъ:</h2>
      <ul>
      <div>
      	<% stories.forEach(function(story) { %>
      			<li><a href="/story/<%= story._id %>"> <h3><%= story.title %> </h3></a>
      				<p>
      					<form action="/<%= story._id %>/addpart" method="get">
                  <button type="submit" class="btn btn-info">Измѣнить:</button>
                </form>
                <form action="/deletefic/<%= story._id %>" method="post">
                  <button type="submit" class="btn btn-danger">Сжечь сіе творѣние</button>
                </form>
      				</p>
      			</li>
      	<% }); %>
      	</div>
      </ul>

    </div>
  </body>
</html>
