<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Настройки профиля</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  <% layout('layout') -%>
    <div class="container">
<!-- enctype="multipart/form-data" -->
    <form action='/profile/settings' enctype="multipart/form-data" method='POST' >
					<h2>Выбрать фотокарточку:</h2>
					<input type='file' accept="image/*"name='image'/>
					<br />
           <h2>О себѣ:</h2>

     <!-- <div class="control-group error"> -->
          <textarea class="form-control" cols="1" rows="10" wrap='soft' name="about" required><%= person.about %></textarea>
    <!-- </div> -->
					<input type='submit' class='btn' value="Сберѣчь правкі" />
				</form>
    </div>

  </body>
</html>
