<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Настройки профиля</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Inspire-Write-Publish</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Профиль<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/users/profile/:username">Мой профиль</a></li>
                      <li><a href="/createfic">Добавить фанфик</a></li>
                      <li><a href="#">Мои фанфики</a></li>
                      <li><a href="/addpart">Добавить часть к фанфику</a></li>
                      <li><a href="#">Найти фанфик</a></li>
                      <li><a href="/profile/settings">Настройки профиля</a></li>
                    </ul>
                </li>
                <li><a href="#">Правила</a></li>
                <li><a href="#">О нас</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span>Выйти</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
<!-- enctype="multipart/form-data" -->
    <form action='/profile/settings' enctype="multipart/form-data" method='POST' >
					<label>Загрузить аватар:</label>
					<input type='file' accept="image/*" name='image' />
					<br />
          <!-- <label>О себе:</label>
          <textarea class="form-control" rows="5" name="about"></textarea> -->
					<input type='submit' class='btn btn-primary' value=">Сохранить и вернуться на страницу профиля" />
				</form>
    </div>

  </body>
</html>
