<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Список пользователей</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  <% layout('layout') -%>
    <div class="container">
    <h1>Добро пожаловать, Админ!</h1>
    <h2>Список пользователей: </h2>



    <ul>
      <div class="story">
    <% users.forEach(function(person) { %>
        <li><a href="/users/profile/<%= person._id %>"> <%= person.username %> </a>
          <form action="/users/<%= person._id %>/delete" method="post">
              <button type='submit' class='btn btn-primary'>Удалить пользователя <%= person.username %></button>
          </form>
        </li>
    <% }); %>
    </div>
</ul>


</div>
    <script src="js/scripts.js"></script>
  </body>
</html>
