body {
  background-image: url(https://img2.goodfon.ru/original/1366x768/e/14/sova-bumaga-origami.jpg);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
